.user-container {
  padding: var(--container-padding);
  margin: 0;
  width: 100%;
  overflow-y: auto;
}

.empty-result {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 98%;
}

.empty-result img {
  width: 300px;
}

.actions {
  height: 100%;
  display: flex;
  padding: 12px !important;
  justify-content: space-around;
}