.principal-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.login-container {
  height: 100vh;
  align-items: center;
}

.login-form {
  width: 60%;
}
/*
.login-form {
  padding: 30px 80px 0 80px;
  width: 500px;
}

.submit-container > button {
  width: 100%;
}

.recover-password-link,
.register-link {
  margin: 1em 0;
  color: #000;
  display: block;
  text-decoration: none;
}

.register-link {
  text-align: center;
} */
