.user-container {
  padding: var(--container-padding);
  margin: 0;
  width: 100%;
}

.edit-form-container {
  width: 50%;
}

.user-container>div>form {
  width: 40%;
}

.password-field {
  width: 49%;
}